.user-info-interface {
  width: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2d1e14;
}

.user-profile {
  flex: 0 0 200px;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1;
}

.logout-button {
  align-self: end;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-banner {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: auto;
  min-height: 0;
}

.image-container {
  margin-top: 2rem;
}

.profile-picture {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border: #121212 3px solid;
}
