.user-bubble, .bot-bubble {
  color: #222;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  max-width: 75%;
  width: fit-content;
  border-radius: 1.2em;
  word-break: break-word;
  font-size: 15px;
}

.bot-time, .user-time {
  font-size: 12px;
}

.bot-bubble {
  background: #B9C2DB  ;
  align-self: flex-start;
  width: fit-content;
}

.user-bubble {
  background: #D3DBED;
  margin-left: auto;
  align-self: flex-end;
  text-align: left;
}

.user-time {
  margin-left: auto;
  align-self: flex-end;
  text-align: left;
}

