.user-bubble, .bot-bubble {
  color: #f3e7d8;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  max-width: 75%;
  width: fit-content;
  border-radius: 1.2em;
  word-break: break-word;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.bot-bubble {
  background: #181512;
  align-self: flex-start;
  width: fit-content;
  border: 1px solid #2d1e14;
}

.user-bubble {
  background: #2d1e14;
  margin-left: auto;
  align-self: flex-end;
  text-align: left;
  border: 1px solid #a67c52;
}

.bot-time, .user-time {
  font-size: 12px;
  color: #a67c52;
}

.user-time {
  margin-left: auto;
  align-self: flex-end;
  text-align: left;
}
