<div class="modal-backdrop" (click)="close()"></div>
<div class="modal-content">
  <h3>Welcome to Senna!</h3>
  <p>
    This is where you create your personal chatbot! After giving your chatbot a name, you will be automatically directed to your chatting space. <br>
  </p>
  <p class="pt-2">
    Your privacy is valued, so do not fear - as only 10 of the most recent messages will be saved while chatting, the rest will be <strong>permanently</strong> deleted.
    Once you log out, all your chat history will be <strong>lost</strong>.
  </p>


  <div class="note">
    <p>
      <strong>Disclaimer:</strong>  This chatbot is an AI-powered tool currently in training.
      While it is designed to assist and provide information, its responses may not always be accurate,
      complete, or appropriately interpret individual traits and characteristics.<br>
    </p>

    <p class="pt-1">
      The chatbot is <strong>not</strong> a
      substitute for professional advice or support. For specific concerns or complex issues,
      please consult a qualified professional.
    </p>

    <p class="pt-1">
      <strong>In cases you feel offended, misinterpreted or receive inappropriate responses, please contact
        ae-kilic&#64;hotmail.com </strong>
    </p>
  </div>
  <button class="close-btn" (click)="close()">Close</button>
</div>
