.message-button {
  border: none;
  background-color: #10192a;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.send-icon {
  width: 1rem;
  height: 1rem;
  color: white;
}

.message-textarea {
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  min-height: 2.2rem;
  max-height: 8rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

textarea[cdktextareaautosize] {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: hidden !important;
  resize: none !important;
}

.message-box {
  height: 100%;
  background-color: #D3DBED;
}

