<div class="chat-input-area position-relative w-100">
  @if(response.status == "success") {
    <div class="trait-message-float">
      <span class="trait-message">
        The following trait was recognized: <strong>{{ response.identified_trait }}</strong>. Click to change.
      </span>
    </div>
  }

  <div class="message-box d-flex align-items-end rounded shadow-sm w-75 p-2 m-auto">
    <textarea
      [(ngModel)]="messageContent"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="6"
      class="form-control border-0 text px-3 w-100 message-textarea"
      rows="1"
      (keydown)="onTextareaKeydown($event)"
      [disabled]="sending"
    ></textarea>
    <button
      type="button"
      class="message-button btn-danger ms-2"
      (click)="sendMessage(messageContent)"
      [disabled]="!messageContent.trim() || sending">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-send send-icon" viewBox="0 0 16 16">
        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
      </svg>
    </button>
  </div>
  <div class="user-warning text-center mt-2">
    <strong>Disclaimer:</strong> This chatbot is an AI tool in training. Its responses may not always be accurate or appropriate and do not replace professional advice.
  </div>
</div>
