.chat-field {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}
.message-field {
  flex: 0 0 5%;
  align-content: end;
  justify-content: end;
  place-content: end;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.messages {
  min-height: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
  height: 100%;
  max-height: 95%;
  flex: 0 0 95%;
}

.profile-field {
  flex: 0 0 5%;
  max-height: 10%;
}
