.resilience-profile {
  padding: 1rem;
  overflow: hidden;
  border: 2px black;
  height: 100%;
  width: 100%;
  background-color: #10192a;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.challenge-card {
  border-radius: 0.3rem;
  background-color: #D3DBED;
  color: black;
}
