<main class="user-info-interface">
  <div class="d-flex flex-column justify-content-center user-profile">
    <div class="image-background">
      <img
        src="assets/img/dog_wallpaper.jpg"
        alt="Dog wallpaper"
        class="background-img"
        height="2560" width="2560">
    </div>
    <div class="image-container">
      <div class="profile-picture">
        <img
          class="object-fit-cover w-100 h-100"
          src="assets/img/user.jpg"
          alt="een foto"
        >
      </div>
    </div>

  </div>

  <div class="align-content-center">
    <p class="h2 text-center p-3">{{ user }}</p>
  </div>

  <div class="mt-auto text-center pb-4">
    <button class="btn btn-danger px-4" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> Log out
    </button>
  </div>
</main>
